extends layout
head
  title #{title}
  
style.
      main {margin:0;}
      
block content
  .main.container
    div.navbar
        #myTopnav.topnav
          a.active(href='#home') Home
          |   
          a(href='#news') Join Project
          |   
          a(href='#contact') Create Project
          |   
          a(href='#about') Account
          |   
          button.dropbtn(onclick='myFunction()') &#x2630
            #myDropdown.dropdown-content 
              a(href='#home') Settings
              br
              a(href='#about') Logout
              br
           
          script.
              console.log("script test");
              // When the user clicks on the button,
              //toggle between hiding and showing the dropdown content 
              
              function myFunction() {
                  console.log("myFunction triggered");
                  document.getElementById("myDropdown").classList.toggle("show");
                  console.log("myFunction success");
                  }
                // Close the dropdown if the user clicks outside of it
                
              window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                  var dropdowns = document.getElementsByClassName("dropdown-content");
                  var i;
                  for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                  }
                  }
                  }
                  }
                console.log("script finish");
    div.home_page_body
    body
      section#main_feed
         h1 Main Feed
         p stuff will go here
         
        aside#main_sidebar 
            h1 Sidebar 
            p more stuff will go here 
    
              


              
        
              