extends layout
block nav-left-content
  li
    a#blck(href='#')
      |  Home
  li
    a#blck(href='createProject')
      |  Create Project
  li
     a#blck(href='profile')
      |  Profile
  li
    a#blck(href='settings')
      |  Settings
      
block nav-content
  li
    a#blck(href='/')
      span.glyphicon.glyphicon-log-out
      |  Logout
head
  title #{title}
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
style.

      main {margin:0;}
      
      body{
        background: #333;
        font-family: 'Open Sans', sans-serif;
      }
      
      table, th, td {
        border: 5px solid black;
        border-collapse: collapse;
      }
block content
  .main.container(style="height:100vh")
    div.home_page_body
      body
        div#search_bar
          .wrap
            .search
              input.searchTerm(type='text', placeholder='Search Projects By Tags', size='35', name='pTags')
              button.searchButton(type='submit' onclick='saveTags()') &#x1F50D
        section#homePage_feed
          div#main_feed
            h1(align="center" id="welcome") Hello
            script.
              function welcomeuser() {
                var allcookies = document.cookie;
                cookiearray = allcookies.split(';');
                var user = cookiearray[1].split('=')[1];
                document.getElementById('welcome').innerHTML = "Welcome <u>" + user + "</u>" ;
              }
              window.onload = welcomeuser;
            h1(align="center") Projects
            | Sort by: 
            select#sortMenu
             option(value='popular') Popular
             |     
             option(value='relevant') Relevant
             |  
             option(value='abc') Alphabetical
             |     
             option(value='recent') Recent
            table#main_table
            div(style='overflow:scroll;height:500px;width:100%;overflow:auto;')
              table#main_table
          div#main_sidebar 
           h1#sidebarT Sidebar 
           p#sidebarP  more stuff will go here 
      //here we define the functions for the search bar, the sorting menu, and the buttons. Also programatically populate the feed with project posts from the database.
    
  script.
      var projects = Object();
      var allcookies = document.cookie;
      var cookiearray = allcookies.split(';');
      var username = cookiearray[0].split('=')[1];
      console.log("cookies: " +  document.cookie);
      var pword = cookiearray[1].split('=')[1];
      
      // if user trys to access /home without logging in
      if(username == "none")
      {
        window.location = "/";
      }
      var allcookies = document.cookie;
      console.log("All Cookies : " + allcookies );
      cookiearray = allcookies.split(';');
      for(var i=0; i<cookiearray.length; i++)
      {
        name = cookiearray[i].split('=')[0];
        value = cookiearray[i].split('=')[1];
        console.log("Key is : " + name + " and Value is : " + value);
      }
      function returnProjects(){
        database = firebase.database();
        var ref = database.ref('Projects');
        ref.on('value', gotData, errData);
        console.log("Got into proj function");
        return true;
      }
        
        function gotData(data){
          console.log("Going to read data now hehe");
          
          console.log(data.val());
          projects = data.val();
          // Object.keys(projects).forEach(function(key){
          // console.log(key, projects[key]);
          // });
          
          console.log("Finished traversing");
          return projects;
        }
        
        function errData(err){
          console.log('Error!');
          window.alert(err);
        }
        
        returnProjects();
        function saveTags(){
          // if the user has not signed in or the cookie for some reason has become erased, redirect the user back to the login page
          var allcookies = document.cookie;
          //console.log("All Cookies : " + allcookies );
          cookiearray = allcookies.split(';');
          for(var i=0; i<cookiearray.length; i++){
            name = cookiearray[i].split('=')[0];
            value = cookiearray[i].split('=')[1];
            //console.log("Key is : " + name + " and Value is : " + value);
          }
          if(name == "" || name == undefined){
            return false;
            //redirect to login.jade, then return false
          }
          if(!tableIsEmpty()){
            return false;
          }
          
          // If the user doesn't enter anything into the field and clicks the search button, don't search!
          var emptyField = document.getElementsByName("pTags")[0].value;
          if(emptyField == null || emptyField == ""){
            return false;
          }
          var tags = document.getElementsByName("pTags")[0].value.split(',');
          for(t in tags){
            tags[t] = tags[t].replace(/,\s*$/, "");
            tags[t] = tags[t].trim();
          }
          // have to access db to pull project info based on tag matches from array
          returnProjects();
          
          for(t in tags){
            for(y in projects){
              for(x in projects[y]){
                if(projects[y][x].project_tags.indexOf(tags[t]) > -1){
                  console.log(projects[y][x].project_tags, tags[t]);
                  console.log(projects[y][x].project_tags.indexOf(tags[t]));
                  addRow(projects[y][x], x);
                }
              }
            }
          }
        }
        
        function tableIsEmpty() {
          return (/^(\s|&nbsp;)*$/.test(document.getElementById("main_table").innerHTML));
        }
          
        function addRow(x, ref){
          console.log(x);
          var table = document.getElementById("main_table");
          
          var rowCount = table.rows.length;
          var row = table.insertRow(rowCount);
          
          var data = document.createElement("td");
          
          var postTitle = x.project_name;
          var strong = document.createElement("strong");
          var sample = document.createTextNode(postTitle);
          strong.appendChild(sample);
          data.appendChild(strong);
          
          var dbDesc = x.project_description;
          var para = document.createElement("p");
          para.setAttribute('style', 'max-width:900px; word-wrap:break-word');
          var description = document.createTextNode(dbDesc);
          para.appendChild(description);
          data.appendChild(para);
          
          var add = document.createElement("button");
          add.innerHTML = "&#9733";
          add.addEventListener ("click", function() {
            document.getElementById("sidebarT").innerHTML = "Project Title:";
            document.getElementById("sidebarP").innerHTML = x.project_name;
            document.getElementById("sidebarP").setAttribute('style', 'max-width:200px; word-wrap:break-word');
          });
          data.appendChild(add);
          
          var join = document.createElement("button");
          join.innerHTML = "Join";
          join.addEventListener ("click", function() {
            console.log(username);
            if(username == undefined){
              return false;
            }
            console.log(ref);
            //duplicate usernames in collaborators list not allowed
            if(x.collaborators.includes(username)){
              alert("You are currently a collaborator for project: " + x.project_name);
              return false;
            }
            x.collaborators.push(username)
            var database = firebase.database();
            var reference = database.ref("Projects").child(x.collaborators[0]).child(ref);
            reference.update(x);
            alert("You have been added to the list of collaboraters for project: " + x.project_name);
            
            //add paragraph elements of collaborator names to sidebar
            var sidebar = document.getElementById("main_sidebar");
            var collabNames = "";
            var collaborator = document.createElement("p");
            for(y in x.collaborators){
              collabNames = collabNames + x.collaborators[y] + ", ";
            }
            collabNames = collabNames.slice(0, -2);
            var q = document.createTextNode(collabNames);
            collaborator.appendChild(q);
            document.getElementById("sidebarT").innerHTML = x.project_name;
            document.getElementById("sidebarP").innerHTML = "Collaborators: ";
            sidebar.appendChild(collaborator);
          });
          
          data.appendChild(join);
          row.appendChild(data);
          
          table.appendChild(row);}