// extends layout
// head
//   link(href='../public/stylesheets/style.css', rel='stylesheet')
//   title #{title}

// block content
//  #bd(style="margin: auto; height: 250px;width: 59.2%; background-image: url('http://www.clker.com/cliparts/c/J/k/p/5/u/gear-green-md.png'); ")
//   h1(align='center' id='index_title_h1' style="font-size:100px; color: #a8a8a8; text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;")= title

//  #index_title
//     h2(align='center' id='index_title_subtitle' style='font-size:xx-large;font-style: italic;' ) "We here for a good time, not a long time"
//  #index_buttons
//     center 
//      a(href='login')
//       button(type="button" ) Login
//      a(href='signup')
//       button(type="button") Sign-Up
//      a(href='home')
//       button(type="button") Home Test
      
// footer
//  Common Sync

doctype html
html(lang='en')
  head
    title Welcome to Common Sync
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body(style='background-color:#efefef')
    nav.navbar.navbar-inverse(style="border-color: transparent;margin-bottom:-4px;background-color:#efefef")
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#', style='font-size:x-large;color: #47CC7E; text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;') Common Sync
        ul.nav.navbar-nav.navbar-right
          li
            a(href='login',style="color:black")
              span.glyphicon.glyphicon-log-in
              |  Login
          li
            a(href='signup',style="color:black")
              span.glyphicon.glyphicon-user
              |  Sign Up
          
    .jumbotron.text-center(style="padding-top: 4%;background-color: #47CC7E;")
      h1(align='center' id='index_title_h1' style="font-style: bold;font-size:150px;color:#efefef; text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;padding-bottom:2%")= title
      h2(align='center' style="font-style: bold;font-size:xxx-large;color:black") Start Collaborating Today!
      a.btn.btn-primary.btn-lg(href='/signup',role='button', style="color:black;background-color:#efefef; border-color:black") Collab Now!

    p(align='center' id='index_title_subtitle' style='color:black;font-size:xx-large;font-style: bold;' ) How does Common Sync work?
    br
    .container
      .row
        .col-sm-4(style="background-color: #b6b6b6;")
          h3 Join
          p Create a personalized Common Sync profile that connects you with your personal interests.
          img(src="http://images.clipartpanda.com/network-clipart-network-clipart-network-999px.png" style="display:block;margin:auto;width:200px; height:200px ")
        .col-sm-4(style="")
          h3 Organize
          p Create or join multiple Common Sync projects that are related to your personal interests.
          img(src="http://emeraldprotech.com/images/teamwork2.png" style="display:block;margin:auto;width:200px; height:200px;")

        .col-sm-4(style="background-color: #b6b6b6;")
          h3 Collobarate
          p  Gain experience working with like-minded individauls around the world!
          img(src="http://images.clipartpanda.com/innovation-clipart-open_innovation_on.png" style="display:block;margin:auto;margin: auto;width:200px; height:200px")
    br
    p(align='center' id='index_title_subtitle' style='font-size:xx-large;font-style: italic;' ) "We're here for a good time, not a long time"

    br
    button(type="button") Home Test
      