extends layout
block nav-content
  li
    a#blck(href='login')
      span.glyphicon.glyphicon-log-in
      |  Login
  li
    a#blck(href='signup')
      span.glyphicon.glyphicon-user
      |  Sign Up

block content
  .jumbotron.text-center(id='jtron')
    h1(align='center' id='jtron-text')=title
    h2(align='center' id="jtron-lower-text") Start Collaborating Today!
    a.btn.btn-primary.btn-lg(href='/signup' role='button' id="jtron-button") Collab Now!

  p(align='center' style='color:black;font-size:xx-large;' ) How does Common Sync work?
  br
  .container
    .row
      .col-sm-4#col-container
        h3 Join
        p Create a personalized Common Sync profile that connects you to your personal interests.
        img(id="col-image" src="http://images.clipartpanda.com/network-clipart-network-clipart-network-999px.png")
      .col-sm-4
        h3 Organize
        p Create or join multiple Common Sync projects that are related to your personal interests.
        img(id="col-image" src="http://emeraldprotech.com/images/teamwork2.png")
      .col-sm-4#col-container
        h3 Collaborate
        p  Gain experience working with like-minded individauls around the world!
        img(id="col-image" src="http://www.clker.com/cliparts/B/a/V/8/7/n/gear-hi.png")
  
    p#cs-quote(align='center') "We're here for a good time, not a long time"
    p(align='center' style='padding-bottom:5%') -Developers at Common Sync
    