extends layout

head
  title #{title}
  
block content
 #index_title
   h1(align='center' id='index_title_h1' )= title
   h2(align='center' id='index_title_subtitle' ) Dream Team: #{title}
 #index_buttons
   center 
<<<<<<< HEAD
    a(href='login')
     button(type="button" ) Login
    a(href='signup')
=======
    a(href="login")
     button(type="button" ) Login
    a(href="signup")
>>>>>>> parker
     button(type="button") Sign-Up