extends layout

head
  title #{title}
  
block content
 #index_title
   h1(align='center' id='index_title_h1' )= title
   h2(align='center' id='index_title_subtitle' ) Dream Team: #{title}
 #index_buttons
   center 
<<<<<<< HEAD
    a(href='login')
     button(type="button" ) Login
    a(href='signup')
=======
    a(href="create")
     button(type="button" ) Login
    a(href="create")
>>>>>>> cd4b034919e44fd12606c21d8e653de743c3c5db
     button(type="button") Sign-Up