doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script.
      var config = {
      apiKey: "APIKEY",
      authDomain: "common-sync.firebaseapp.com",
      databaseURL: "https://common-sync.firebaseio.com",
      projectId: "common-sync",
      storageBucket: "common-sync.appspot.com",
      messagingSenderId: "SENDER"
      };
      firebase.initializeApp(config);
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(id="nav-bar")
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/' id="nav-bar-brand") Common Sync
        ul.nav.navbar-nav.navbar-right
          block nav-content
          
    block content
