<<<<<<< HEAD
extends layout 

head
  title #{title}
  
block content
  #logo
    #{title}
  #credentials
    center 
      h1 Login
        

=======
extends layout
>>>>>>> cd4b034919e44fd12606c21d8e653de743c3c5db
