extends layout
block nav-content
  li
    a#blck(href='/signup')
      span.glyphicon.glyphicon-user
      |  Sign Up
  li
    a#blck(href='/')
      span.glyphicon.glyphicon-exit
      |  Cancel
  
block content
  .main.container(style="margin-top: 5%")
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(target ="_self" name="myForm")
          div.username
            label(for='username') Username
            input.form-control(type='text' id='username' placeholder='username' name='username' required)
          div.password
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password' required)
          button.btn.btn-primary(type='submit' onclick="checkform();" formaction ='home' ) Log in
          
  script.
    function checkform(){
      var password = document.getElementById('password').value;
      var username = document.getElementById('username').value;
      
      // get all the inputs within the submitted form
      

      var inputs = document.getElementsByTagName("input");
      for (var i = 0; i < inputs.length; i++) {
        // only validate the inputs that have the required attribute
        if(inputs[i].hasAttribute("required")){
          if(inputs[i].value == ""){
            // found an empty field that is required
            alert("Please fill all required fields");
            return false;
          }
          else if(/[^a-zA-Z0-9@. ]/.test(inputs[i].value)) {
            alert('Input must be alphanumeric');
            return false;
          }
        }
      }
      accessDB(password,username);
      WriteCookie();
      // validate input
    }
    
    function accessDB(password, username){
      // window.alert("made into accessDB");
      database = firebase.database();
      var ref = database.ref('Users');
      ref.on('value', gotData, errData);
      return true;
    }
            
    function gotData(data)
      {
      console.log("gotdata function started...");
      var user = document.getElementById('username').value;
      console.log(data.val());
      var users = data.val();
      var keys = Object.keys(users);
      console.log(keys);
      for(var i=0; i< keys.length; i++)
      {
        var k = keys[i];
        var username = users[k].username;
        var useremail = users[k].email;
       
      
       if( user == username)
       {
        console.log(" found it");  
        //console.log(useremail, username);
        
        WriteCookie();
        //ReadCookie()
         
       }
       
      }
            console.log("done.");
    }
    function errData(err)
    {
      console.log('Error!');
      window.alert(err);
    }
    function WriteCookie()
    {
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
      document.cookie = "username=" + username;
      document.cookie = "password=" + password;
      // var username = document.getElementById('username').value;
      // var password = document.getElementById('password').value;
      // console.log(username, password);
      // if( username == ""  || password == "")
      // {
      //     alert("Enter some value!");
      //     return;
      // }
      // cookievalue= escape(username) + ";";
      // document.cookie="username=" + cookievalue;
      // console.log("Setting Username : " + "username=" + cookievalue );
      
      // cookievalueP= escape(password) + ";";
      // document.cookie="password=" + cookievalueP;
      // console.log("Setting Password : " + "password=" + cookievalueP );
    }
    function ReadCookie(){
        var allcookies = document.cookie;
        console.log("All Cookies : " + allcookies );
        cookiearray = allcookies.split(';');
        for(var i=0; i<cookiearray.length; i++)
        {
        name = cookiearray[i].split('=')[0];
        value = cookiearray[i].split('=')[1];
        console.log("Key is : " + name + " and Value is : " + value);
          
        }
    }
    
         
