extends layout
block nav-left-content
  li
    a#blck(href='home')
      |  Home
  li
    a#blck(href='createProject')
      |  Create Project
  li
     a#blck(href='#')
      |  Profile
  li
    a#blck(href='settings')
      |  Settings

block nav-content
    li
        a#blck(href='/')
          span.glyphicon.glyphicon-log-out
          |  Log out


block content
    .container-fluid#profile(style="height:100")
        .row.profile-row(align="center")
            img.profile-picture( src="https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png" )
        .row.profile-row(align="center")
            .col-sm
                h1.profile-name#profile-name=name
                hr(style="width:15%; border-color:black; margin-top:4%; margin-bottom:4%")
        .row.profile-row(align="center")
            .col-sm-6(align="center")
                h2.profile-interests 
                    | INTERESTS:
                h3.profile-interests
                    | #{interests}
            .col-sm-6(align="center")
                h2.profile-interests
                    | PROJECTS:
                h3.profile-projects 
                    | #{projects}
    script.
    
        function accessDB(password, username){
            database = firebase.database();
            var ref = database.ref('Users');
            ref.on('value', gotData, errData);
            //window.alert(email, password);
            return true;
        }
        
        function ReadCookie(){
            var allcookies = document.cookie;
            console.log("All Cookies : " + allcookies );
            cookiearray = allcookies.split(';');
            name = "no user"
            value = "none"
            for(var i=0; i<2; i++){
                name = cookiearray[i].split('=')[0];
                value = cookiearray[i].split('=')[1];
            }
            
            if(value != "none"){
                
            }

            // value = cookiearray[1].split('=')[1];

            
            
        } 
        ReadCookie();
      

