extends layout
block nav-content
  li
    a#blck(href='home')
      |  Home
  li
    a#blck(href='createProject')
      |  Create Project
  li
     a#blck(href='#')
      |  Account
  li
     button#blck.dropbtn(onclick='dropdown()')
      |  &#x2630
     #myDropdown.dropdown-content 
            a(href='settings') Settings
            br
            a(href='#about') Logout
            br
     script.
            console.log("nav bar loading...")
              // When the user clicks on the dropdown button,
              //toggle between hiding and showing the dropdown content 
              
              function dropdown() {
                  console.log("dropdown function triggered");
                  document.getElementById("myDropdown").classList.toggle("show");
                  console.log("dropdown function success")
                  }
                // Close the dropdown if the user clicks outside of it
                
              window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                  var dropdowns = document.getElementsByClassName("dropdown-content");
                  var i;
                  for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                  }
                  }
                  }
                  }
                console.log("done."); 
style.
  * {box-sizing: border-box}
  body {font-family: "Lato", sans-serif;}
  
block content 
    body#settings_header
        img( src="/img/gear.png" style=" width: 100px; height:100px; margin:10px;" )
        center 
            h1  Settings 
            .tab
              button#defaultOpen.tablinks(onclick="openCity(event, 'Account')") Account
              button.tablinks(onclick="openCity(event, 'Activity')") Activity
              button.tablinks(onclick="openCity(event, 'Logout')") Logout
            #Account.tabcontent
              .options_layout
                h3(align="center") Account
                h4(align="center") Edit your personal settings 
                br
                p(align="left")
                 | Email
                 | Change Password
            #Activity.tabcontent
              .options_layout
                h3 Activity
                h4 View and edit your activity settings.
            #Logout.tabcontent
              h3 Logout
            script.
              function openCity(evt, option) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(option).style.display = "block";
              evt.currentTarget.className += " active";
              }
              // Get the element with id="defaultOpen" and click on it
              document.getElementById("defaultOpen").click();