extends layout
block nav-content
  li
    a#blck(href='home')
      |  Home
  li
    a#blck(href='createProject')
      |  Create Project
  li
     a#blck(href='#')
      |  Account
  li
     button#blck.dropbtn(onclick='dropdown()')
      |  &#x2630
     #myDropdown.dropdown-content 
            a(href='settings') Settings
            br
            a(href='#about') Logout
            br
     script.
            console.log("nav bar loading...")
              // When the user clicks on the dropdown button,
              //toggle between hiding and showing the dropdown content 
              
              function dropdown() {
                  console.log("dropdown function triggered");
                  document.getElementById("myDropdown").classList.toggle("show");
                  console.log("dropdown function success")
                  }
                // Close the dropdown if the user clicks outside of it
                
              window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                  var dropdowns = document.getElementsByClassName("dropdown-content");
                  var i;
                  for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                  }
                  }
                  }
                  }
                console.log("done."); 
style.
  * {box-sizing: border-box}
  body {font-family: "Lato", sans-serif;}
  
block content 
    div.navbar
      #myTopnav.topnav
        a.active(href='home') Home
        |   
        a(href='createProject') Create Project
        |   
        a(href='#about') Account  
        |   
        button.dropbtn(onclick='dropdown()') &#x2630
        #myDropdown.dropdown-content 
         a(href='settings') Settings
         a(href='#about') Logout
        script.
            console.log("nav bar loading...")
              // When the user clicks on the dropdown button,
              //toggle between hiding and showing the dropdown content 
              
              function dropdown() {
                  console.log("dropdown function triggered");
                  document.getElementById("myDropdown").classList.toggle("show");
                  console.log("dropdown function success")
                  }
                // Close the dropdown if the user clicks outside of it
                
              window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                  var dropdowns = document.getElementsByClassName("dropdown-content");
                  var i;
                  for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                  }
                  }
                  }
                  }
                console.log("done.");
    body#settings_header
        center 
            h1  Settings 
            .tab
              button#defaultOpen.tablinks(onclick="openCity(event, 'London')") Account
              button.tablinks(onclick="openCity(event, 'Paris')") Paris
              button.tablinks(onclick="openCity(event, 'Tokyo')") Tokyo
            #London.tabcontent
              h3 London
              p London is the capital city of England.
            #Paris.tabcontent
              h3 Paris
              p Paris is the capital of France.
            #Tokyo.tabcontent
              h3 Tokyo
              p Tokyo is the capital of Japan.
            script.
              function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
              }
              // Get the element with id="defaultOpen" and click on it
              document.getElementById("defaultOpen").click();