body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 
#index_title_h1 {font-size: 100px;
        color: #464646;
}

#index_title_subtitle {
  font-size: 30px;
        color: #464646;
}

.index_buttons{
   display: flex; 
   justify-content: center; 
   align-items: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


         #main_feed {
         width: 80%;
         border-width: 1px;
         border-color: blue;
            padding: 2px;
            border-radius: 10px;
         }
         #main_sidebar {
         width: 20%;
         border-color: blue;
         border-width:1px ;
         border: medium;
            padding: 2px;
            float:right;
        background-color: grey
         }