body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 
#index_title_h1 {font-size: 100px;
        color: #464646;
}

#index_title_subtitle {
  font-size: 30px;
        color: #464646;
}



.index_buttons{
   display: flex; 
   justify-content: center; 
   align-items: center;
}
